@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Lora:ital,wght@1,500;1,600&family=Montserrat:wght@300;400&family=Roboto:ital,wght@1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: var(--robo);
}
a{
    color: black;
}
:root{
   --lato: 'Lato', sans-serif;
   --lora: 'Lora', serif;
   --mon: 'Montserrat', sans-serif;
   --robo: 'Roboto', sans-serif;
}
body{
    line-height: 1.5;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.navigation{
    width: 100%;
    height: 10vh;
    background-color: grey;
    box-shadow: 0 0 20px white;
    position: fixed;
    z-index: 999;
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    width: 10%;
}
.navbar__nav a{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2rem;
    color: white;
    font-family: var(--mon);
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/bgi1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.banner{
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
}
.spinner {
    height: 50px;
    width: max-content;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--lora);
    letter-spacing: 1em;
    color: #f5f5f5;
    filter: drop-shadow(0 0 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   
.spinner span {
    animation: loading 1.75s ease infinite; 
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 10px white;
    letter-spacing: 1rem;
   }
   
   .spinner span:nth-child(2) {
    animation-delay: 0.25s;   
   }
   
   .spinner span:nth-child(3) {
    animation-delay: 0.5s;
   }
   
   .spinner span:nth-child(4) {
    animation-delay: 0.75s;
   }
   
   .spinner span:nth-child(5) {
    animation-delay: 1s;
   }
   
   .spinner span:nth-child(6) {
    animation-delay: 1.25s;
   }
   
   .spinner span:nth-child(7) {
    animation-delay: 1.5s;
   }
   
   @keyframes loading{
    0%, 100% {
     transform: translateY(0);
    }
   
    50% {
     transform: translateY(-10px);
    }
   }
   /* svet */
.svet{
    width: 100%;
    padding: 4rem 0;
}
.svet__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.svet__content .item{
    padding: 0.3rem 0.2rem;
    background-color: #340FF7;
    border-radius: 10px;
    color:white;
    transform: skewY(2deg);

}
.svet__content .item .card{
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    height: 100%;
    background-color: black;
    transition: all 0.2s linear;
    text-align: center;
}
.svet__content .item img{
    margin-bottom: 1rem;
}
.svet__content .item:hover .card{
    transform:scale(0.98) ;
}
.svet__content .item:hover{
    background-color: aqua;
}
.gaz{
    width: 100%;
    padding: 4rem 0;
    background-color: whitesmoke;
    text-align: center;

}
.scanner span {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    font-family: var(--roboto);
    letter-spacing: 2px;
  }
  
  .scanner span::before {
    content: "iltimos bizga ham gaz bering...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #17FEFF;
    overflow: hidden;
    color: #17FEFF;
    animation: load91371 3s linear infinite;
  }
  
  @keyframes load91371 {
    0%, 10%, 100% {
      width: 0;
    }
  
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      border-right-color: transparent;
    }
  
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
      border-right-color: #17FEFF;
    }
  
    60%, 80% {
      width: 100%;
    }
  }
  .gaz__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
   
    margin-top: 2rem;
}

.gaz__item {

height: 120px;
padding: 0.5rem;
background: rgba(198, 198, 198, 0.34);
border-radius: 8px;
backdrop-filter: blur(5px);

border-bottom: 3px solid rgba(255, 255, 255, 0.440);
border-left: 2px  rgba(255, 255, 255, 0.545) outset;
box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
transform: skewX(10deg);
transition: .4s;
overflow: hidden;
color: white;
}

.gaz__item:hover {
height: 374px;
transform: skewY(1deg);
}

.align {
padding: 1rem;
display: flex;
flex-direction: row;
gap: 5px;
align-self: flex-start;
}

.red {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #ff605c;
box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #ffbd44;
box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #00ca4e;
box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.gaz__item h2 {
text-align: center;
margin: 1.3rem;
color: black;
text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
.gaz__item p{
color: rgb(65, 62, 62);
margin-bottom: 0.5rem;
font-family: var(--lato);
}
.contact{
    width: 100%;
    padding: 4rem 0;
    background-color: #292626;
    text-align: center;
}
.contact .title h2{
    font-size: 2.5rem;
    color: #f5f5f5;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.contact__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.contact__content .item{
    width: 90%;
    height: 50vh;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
}
.contact__content .item h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact__content .item p{
    margin-bottom: 0.5rem;
}
.contact__content .item form{
    width: 100%;
}
.contact__content .item form input{
    width: 80%;
    height: 8vh;
}
.contact__content .item form input:hover{
    border-radius: 30px;
    text-indent: 10px;
}
.contact__content .item form button{
    width: 80%;
    height: 6vh;
    margin-top: 1rem;
}
.contact__content .item form button:hover{
    background-color: #000;
    color: #fff;
}
.contact__content .item2{
    width: 90%;
    height: 50vh;
    padding: 1rem;
    border: 3px solid green;
}
.contact__content .item2 h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
}
.contact__content .item2 p{
    margin-bottom: 0.5rem;
}
.contact__content .item2 form{
    width: 100%;
}
.contact__content .item2 form input{
    width: 80%;
    height: 8vh;
    margin-bottom: 1rem;
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #fff;
    color: #fff;
}
.contact__content .item2 form input:hover{
    border-radius: 30px;
    text-indent: 10px;
    border-radius: 30px ;
    border: 2px solid blue;
}
.contact__content .item2 form button{
    width: 80%;
    height: 6vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    /* margin-top: 1rem; */
}
.contact__content .item2 form button:hover{
    background-color: #000;
    color: #fff;
}
/* copy */
.copy{
    width: 100%;
    height: 10vh;
    padding: 1rem  0;
    text-align: center;
    background-color: #ff605c;
    color: #fff;
}
.copy a{
    color: #f5f5f5;
}
.navbar__nav .fa-bars{
    font-size: 1.3rem ;
    color: #fff;
    display: none;
}